<ion-view title="Final Instalaciones I" id="page41">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>El Examen Final de Instalaciones Eléctricas I consiste en</strong>
        </span>
      </h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>* Examen</strong>
        </span>
      </h4>
      <p>Un primer Examen de la Práctica, donde deben resolver ejercicios, en el caso de ser promocionados, este no se toma pero en el caso de Regulares o Libres se deben resolver los ejercicios propuestos.</p>
      <p>Una vez aprobado el examen de la parte práctica se rinde la teoria, esto se sortea con bolillero y entran todas las unidades del programa excepto&nbsp;sistemas trifásicos.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>* Carpeta de Trabajos Prácticos</strong>
        </span>
      </h4>
      <p>Para rendir se debe presentar la carpeta con todos los trabajos practicos resueltos.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>* Proyecto</strong>
        </span>
      </h4>
      <p>En todos los casos se debe presentar un proyecto para poder rendir, este debe estar armado y funcionando con su repectivo diagrama de funcionamiento y se debe demostrar y explicar su principio de funcionamiento.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <ion-list id="finalInstalacionesI-list39">
      <ion-item class="item-divider" id="finalInstalacionesI-list-item-divider30"> Ejemplos de Proyectos para Final</ion-item>
      <ion-list id="finalInstalacionesI-list43">
        <ion-item class="dark" id="finalInstalacionesI-list-item130" href-inappbrowser="https://www.youtube.com/watch?v=rZDeA1a4c88&amp;feature=youtu.be&amp;fbclid=IwAR1YPnherBhLEu4PxNn1pTVfv5ImRudTllCd3VRstnU0WlPnzkvjOVD5wlw">Transmisión de cartón</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item131" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1593016267509266/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoyMjAwNzkyMTMwMDA0OTU4/">Luces LED giratorias</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item132" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1038100733008939/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNjc5Nzc3Mzc1NDM5Nzcy/">Generar electricidad del flujo de agua</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item133" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1038089869676692/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNjgxMDUyMjE1MzEyMjg4/">Pulidora de tambor portátil</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item135" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1039265316225814/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNjgxNjEwMDY4NTg5ODM2/">Pistola eléctrica</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item136" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1048763375276008/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNjk5NDIzNjkzNDc1MTQw/">Máquina de juego de pinball</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item137" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1050567998428879/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzAyMDMzNjkzMjE0MTQw/">Lámpara de mesita regulable</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item138" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1052088508276828/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzE2ODQ3NzQ4Mzk5NDAx/">Grúa de cartón</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item139" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1088404497978562/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzk1NzQ4ODk3MTc1OTUy/">Mini limpiador de vacío</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item154" href-inappbrowser="https://www.facebook.com/AutomatizacionYElectricidad/videos/901809266689475/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzg5NzEwMTk3Nzc5ODIy/">Detector de Fase y Neutro sin Contacto</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item156" href-inappbrowser="https://www.facebook.com/Electrotecpe/videos/1658682207564480/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzg2NzQ3NzQxNDA5NDAx/">Motor Homopolar Horizontal</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item157" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1079048235580855/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzcyNjk3OTMyODE0Mzgy/"> Auto rápido con botella de plástico</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item169" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1090676964417982/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzY5NjMzNDUzMTIwODMw/">Brújula de dibujo eléctrico</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item173" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1077010302451315/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzY2NDUyMzQwMTA1NjA4/">Mini hoverboard</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item177" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1081453225340356/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzU0MzQwNjI0NjUwMTEz/">Máquina de mármol espiral</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item175" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1070201276465551/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzU0MzM1NTI0NjUwNjIz/">Robot de salto</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item174" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1062933260525686/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxNzIzOTA4NjA0MzU5OTgy/">Mini coche de energía solar</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item181" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1086221331530212/">Máquina mata mosquitos</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item180" href-inappbrowser="https://www.facebook.com/ElectrotecniaLatam/videos/2130487803837627/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxODIxMDYzOTU0NjQ0NDQ2/">Máquina de sellador de calor</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item179" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1111343989017946/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxODA3Nzg5MDQ5MzA1Mjcw/">Alarma potente usando dc motor</ion-item>
        <ion-item class="dark" id="finalInstalacionesI-list-item178" href-inappbrowser="https://www.facebook.com/punjabkesarijugaad/videos/1115806405238371/UzpfSTEwMDAwNDAxMjU2NTg4MDpWSzoxODA2MDc5MzMyODA5NTc1/">Robot de gusano</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>